<html>

  <body>
  
    <img src="https://i.imgur.com/oLc0lGY.png" alt="Good job, AI">

    <img src="https://i.imgur.com/WT4RM36.png" alt="Definite miss">

    <img src="https://i.imgur.com/RnaZB9Z.png" alt="Google Vision couldn't identify anything">

    <img src="https://i.imgur.com/TjLYoPC.png" alt="Seems to be reading text in images">

    <img src="https://i.imgur.com/xXVv2Ri.png" alt="These labels spanned from too broad to be useful, to inaccurately specific">

    <img src="https://i.imgur.com/yvF5Gut.png" alt="The AI seems to miss the point entirely sometimes">

    <img src="https://i.imgur.com/B5sQAUv.png" alt="Nothing to see here but floor, apparently">

  </body>
  
</html>
